<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-EC.aml</key>
		<data>
		SFjwSH5RWn1/jUz36MA7qqXNca98a0CZroILwmzqW6U=
		</data>
		<key>ACPI\SSDT-HPET.aml</key>
		<data>
		EtjxXo+4VG64sJncozsfFhEYBVVIz9/owfSWAtEqs9w=
		</data>
		<key>ACPI\SSDT-PLUG.aml</key>
		<data>
		ZHrKVXLuMcLOLF1mvfeYgsUDwWtOwDO1IGXzMuTa2Qs=
		</data>
		<key>ACPI\SSDT-PNLF-CFL.aml</key>
		<data>
		d2Y3YjwX6Nvf/g83t6MRJIOLzjk0iQMdHqLtW1NNeT8=
		</data>
		<key>ACPI\SSDT-SBUS-MCHC.aml</key>
		<data>
		doHosNbQIG3NkUnR37RCGFX8SRvg5H8KQc3v3nm5QzY=
		</data>
		<key>ACPI\SSDT-USBX.aml</key>
		<data>
		TelVot4LP78IcpA9u667qLMGqi/nxc2aUh5DQ4681U0=
		</data>
		<key>ACPI\SSDT-XOSI.aml</key>
		<data>
		RJKO71mPnPbisOpK/4S2oHc8Lay2RcvlmO2ErhQCDbo=
		</data>
		<key>ACPI\SSDT-dGPU-Off.aml</key>
		<data>
		pK3iDSeKWyPdc7inTf1OboH/jUwqJ51g9HbMvWOqqlY=
		</data>
		<key>Bootstrap\Bootstrap.efi</key>
		<data>
		Lfv0g1HS7ccgXdGRNr5srykBQ/1tigFgYNQG9YvhHJ4=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		WIe9YMNtVnvhJ0hzlmNWsX/dx3Qt88Vft44QcbXsv+0=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		p8tkFVKIQu3XRkPXzE0EppQAQpYzFvYsojQsPyXsQ3E=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		i33L2vI/7uDHF5nXAEb8lZbVSUf6JqVWHjQw2puGkb8=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		yV8i6L7poccv+bTN4dRZUo3jMH2p1cgV4tARsZ/rs7E=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		Z6Dj95dIi607uyafSvVIarMZgJxmPh+GAcuiWEc56lg=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\Info.plist</key>
		<data>
		7vdNnDDfFg+sVxltyrCJ5rYQzAoQOTTxQmIRNaEL9zA=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\MacOS\CtlnaAHCIPort</key>
		<data>
		Nt1XonPQj46Gkfs3Kt0god9bxNXPFAE8OF3cwlzzS3Y=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		17FbsmvTUr0idVJJjWfro/U87Gjge33jJL+HDjtE4XI=
		</data>
		<key>Kexts\CtlnaAHCIPort.kext\Contents\version.plist</key>
		<data>
		N4UbohbaYz1+V6VFcng//I967gzWx/0Cd9kjqE1sz+E=
		</data>
		<key>Kexts\HoRNDIS.kext\Contents\Info.plist</key>
		<data>
		X9RIT4PG1hpAT6xl1brPJNgI0mwNynHczQp6JNEPJAU=
		</data>
		<key>Kexts\HoRNDIS.kext\Contents\MacOS\HoRNDIS</key>
		<data>
		ptroM1bXXVm+ofbf8ZW9mEMJ8PbwEmlAxFS9c/iIKQc=
		</data>
		<key>Kexts\HoRNDIS.kext\Contents\Resources\en.lproj\InfoPlist.strings</key>
		<data>
		Oc8u4Ht7Mz58F50L9NeYpbcq9qTlhPUeZCcDu/pPyCg=
		</data>
		<key>Kexts\HoRNDIS.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		NuH4yMgyvbjNBmiJYBhMphg6HzhrDSiyComvJaS5rFc=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\Info.plist</key>
		<data>
		fwjme52nwR/xztnHl1hE6u48cAV5/jgwQfkOps+lgMc=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\MacOS\IntelBluetoothFirmware</key>
		<data>
		h+zQRGSQY4emGozHv3riEiDLLKkoTcAv5nNi5vOJ4lE=
		</data>
		<key>Kexts\IntelBluetoothInjector.kext\Contents\Info.plist</key>
		<data>
		hLR9rNZEKqN/2LC3DXw+ppKqVDE5YucioDsZL2b5fqA=
		</data>
		<key>Kexts\IntelBluetoothInjector.kext\Contents\MacOS\IntelBluetoothInjector</key>
		<data>
		Svx5n+vsB0yRIz1XvCBqV5ejamJ5Vb0XLcHZvaF7LyU=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		Jw6Gyti94AbKvtjX0RLX2qICCDeFVF/0U4NOJinwq94=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		8dM4Ya1DpHSuICv23dAfEgW4uONEYHCgadqGAbzuq7Q=
		</data>
		<key>Kexts\LucyRTL8125Ethernet.kext\Contents\Info.plist</key>
		<data>
		Q5UcgDQeg42hJp44KndufZT3SnVI2ay0mPszLNHsRn0=
		</data>
		<key>Kexts\LucyRTL8125Ethernet.kext\Contents\MacOS\LucyRTL8125Ethernet</key>
		<data>
		x6jHRHXFpcAtpeFYanBWxztcCN3uvy5X42hp/oVtZ9s=
		</data>
		<key>Kexts\NoTouchID.kext\Contents\Info.plist</key>
		<data>
		hEQXH2uiNLd2sneCTLz521fHj3rUBrXjxoyiNCeXunM=
		</data>
		<key>Kexts\NoTouchID.kext\Contents\MacOS\NoTouchID</key>
		<data>
		diLutAZi8ST1Cp3RTidKgvuJIpwMhYj37OR2ltmzJso=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Info.plist</key>
		<data>
		0mmXfJ0rikel00Jehp4sfkebLnldLNSPmWZwI8hLbSw=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\MacOS\SMCBatteryManager</key>
		<data>
		hPVW6vOAjR1E6O4ekYWjNSIXjRo74NqX2VgBzgkelIs=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Resources\SSDT-BATC.dsl</key>
		<data>
		5mu9V+XG7w3bw6blH2j+h12EcJtz1HcuHBkyafKonks=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		Oz3L79PHNloVIgGfPRkvHjswL6WBre92cHwAvgVSR8c=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		ddjC7sn/SzvTnGRmqj+dFnTrasEbfbu0h5pgpoW+gPY=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		LK9IYeJ2t+KKYoGtGFurIFMHauZ0LHPqRIhGbQj0yDA=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		VKSh7PMufEeZrq2lktcqOwcnS1cUoNI6bML04Ba/8BI=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		/ZE8lr1YodufAJL0KTlplEXumw43UfiD1znsiDZqBh8=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		CmpGoUubiVIWhRQ4JlUAl3Kh2LvDAEzshihmfHEYSPI=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\Info.plist</key>
		<data>
		8OD09kcZYox/1SukWCCqF2PIbUpqRBdDkILesFh5UlI=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\MacOS\VoodooI2C</key>
		<data>
		fAzXtJK3b8HgfPrYg9OIEIDw7D6CjBvejtfJu2Mj8r4=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooGPIO.kext\Contents\Info.plist</key>
		<data>
		BmyHrmET8RjxW7IISGqTNPfofZi1BUpkMmKA76StunE=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooGPIO.kext\Contents\MacOS\VoodooGPIO</key>
		<data>
		xSDVxhI8zXOKzAp8Di6yrMlDOng3t5YUG9dfAdMiQKs=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooI2CServices.kext\Contents\Info.plist</key>
		<data>
		pzxgQrn7pf4cCaJBsWcJXem10vVq/vJ5DbSH2lKyAoo=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooI2CServices.kext\Contents\MacOS\VoodooI2CServices</key>
		<data>
		rxo1WyukAt5RZkFAIQ2s172zuGUz4z/akfrSx+jgOHs=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext.dSYM\Contents\Info.plist</key>
		<data>
		xOtS5rxxs1Qlp9b2W/HYshY8LWq9QoLstv9+5at6MFA=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext.dSYM\Contents\Resources\DWARF\VoodooInput</key>
		<data>
		tmquad77MheiKf0Xepx9mFXTPHV1YFyCysD/10gHXRc=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext\Contents\Info.plist</key>
		<data>
		gqJbf9ppkQ59iRLUgWmml3fh/5CwR6/IabsfxDQpWJg=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext\Contents\MacOS\VoodooInput</key>
		<data>
		FmlspNwmYvL9CJtfQlY2FyBUG7cE1e6oOqMSYsaGUgU=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VoodooI2CHID.kext\Contents\Info.plist</key>
		<data>
		FKgQL4ZP4uo5i/hPKfgm+DQurV6soB/d7dJtBQMm2Ik=
		</data>
		<key>Kexts\VoodooI2CHID.kext\Contents\MacOS\VoodooI2CHID</key>
		<data>
		TN8Jd0q6CK5zCFkwrd3nFFkd1+rclPpixZRDYaYeZA0=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\Info.plist</key>
		<data>
		aavSzFhfC3+rdjyDI8pASad5OiXPj9Z4xMPngd4z/QE=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\MacOS\VoodooPS2Controller</key>
		<data>
		C/GTwjVsO9QPme9OGWXtxBw/Xs5MJ25QTNCYAz9zJCk=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\Info.plist</key>
		<data>
		cWL4Njdi+wqHDZcnwh24vARIxFuAlLH3KMHRb4785AM=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\MacOS\VoodooInput</key>
		<data>
		26+1j3ndxGvDEUB9fl8mJCdTk3leeT1VqwQ2gkHvlEA=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Keyboard.kext\Contents\Info.plist</key>
		<data>
		CJlmFpNsMcsEaARugu4PZ+ZjzEiF7h3fisLkheEldbA=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Keyboard.kext\Contents\MacOS\VoodooPS2Keyboard</key>
		<data>
		yWNv1SyafOmNus6w93Bm2pUdccJTIxlTvS8gpoGjDuA=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Mouse.kext\Contents\Info.plist</key>
		<data>
		TYf1jmFmnwHcU9vXrvTuB97Mr+yMFlOcWxjdlpr5prE=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Mouse.kext\Contents\MacOS\VoodooPS2Mouse</key>
		<data>
		0tnPSbULhplJZxGDddffuJrG1tR2neZn4hzld0oOPTk=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Trackpad.kext\Contents\Info.plist</key>
		<data>
		1P8GfHjNlYK+Bzx9yHr5pjuNMb98FXvKJoPAAqglYAY=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Trackpad.kext\Contents\MacOS\VoodooPS2Trackpad</key>
		<data>
		LM0gJa5GusU1cB+Q6XhovtX+3ObslW+qXjRjAXe5yqU=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		/HFb7OxjVpK1KkRt0ZhUIhUMV1SFRY+9PD0NWV9unus=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		EXR1ZAbEXT6nMV7ow29ZCuC76Wd84l6yt2O6ZpRaV0M=
		</data>
		<key>Kexts\itlwm_v1.0.0_stable.kext\Contents\Info.plist</key>
		<data>
		7yXELnjtZcgDuzLSqZSjG9T0dnvfeKTdDt8d1qebkyI=
		</data>
		<key>Kexts\itlwm_v1.0.0_stable.kext\Contents\MacOS\itlwm</key>
		<data>
		iRV79UVmveN5V7xO1QmU504Fhb+K6z6vFZBD34KPWyY=
		</data>
		<key>Keys\ca.pem</key>
		<data>
		e0ATRfRYs9GTaRuss2xrzZDN4Tx9Nfx1SHiQXRdPhOQ=
		</data>
		<key>Keys\privatekey.cer</key>
		<data>
		g2ywcOREHWyfwTKTFSVC97QVdgG7tnQ2Tp9QHFC3z30=
		</data>
		<key>Resources\Font\Font_1x.bin</key>
		<data>
		UbpyosL4nwwA6nHT+hU6EOZcObI/n1sZwA/b5snHQxU=
		</data>
		<key>Resources\Font\Font_1x.png</key>
		<data>
		cCpjm973z5PWFF0Ir3qAksRwfAjPujdpJT8cC7GbG5Q=
		</data>
		<key>Resources\Font\Font_2x.bin</key>
		<data>
		s2rSstzd4UZ1lFLSUUt/eAC5xomPooRWaWXWn2EbsYg=
		</data>
		<key>Resources\Font\Font_2x.png</key>
		<data>
		T7Rc18QRoPovyg6kwfwqATD4rwvNxxJ07ID7sZ8UrE4=
		</data>
		<key>Resources\Image\AppleRecv.icns</key>
		<data>
		B7hfEZiy+0DN5mhJRhO8vRXKn7xj/CYaunv3+aPcw0I=
		</data>
		<key>Resources\Image\AppleTM.icns</key>
		<data>
		2THGhilwQruqRcy0LW1OqCGr5qVaxlWHQzKb96AtBwQ=
		</data>
		<key>Resources\Image\Cursor.icns</key>
		<data>
		jWnjyC+nftf8rbEBmttXiqobKyBgUNNVTnKTRH2k1vU=
		</data>
		<key>Resources\Image\ExtAppleRecv.icns</key>
		<data>
		7xLvdstZvJsbpWA0XV68d/Wvf2qj8o21dwlHiORrc38=
		</data>
		<key>Resources\Image\ExtAppleTM.icns</key>
		<data>
		qNVam12lgS9r1kxUMrTkFNa7IC4qyXEf1XAqyfXRq58=
		</data>
		<key>Resources\Image\ExtHardDrive.icns</key>
		<data>
		byYuBaNvH/PloBeLM5YmwVa+aN6Pm120uQZSzhF0RYs=
		</data>
		<key>Resources\Image\HardDrive.icns</key>
		<data>
		ZSydAoxJb6XadZEPkLMSur6b76ouYgo0bedlFcPdGZw=
		</data>
		<key>Resources\Image\OldAppleRecv.icns</key>
		<data>
		BYIIrqxgEPGXmoah2ZkMmI7rSVwXHwTZRE0u7ZeRAiI=
		</data>
		<key>Resources\Image\OldAppleTM.icns</key>
		<data>
		kfqbz0TgBkWq0TlYnZgBVjIigruI8fVrW+rjIc1fd4g=
		</data>
		<key>Resources\Image\OldCursor.icns</key>
		<data>
		cFrd6p5REd0tw/V/R0QLKCTIwR3FIZWor2hjc0pNQvQ=
		</data>
		<key>Resources\Image\OldExtAppleRecv.icns</key>
		<data>
		kCAVGiy7XvX5OeArbGsj/YA2tPFO9H5Nu2rsK3mlwaE=
		</data>
		<key>Resources\Image\OldExtAppleTM.icns</key>
		<data>
		v1i8lfUZhtA0AZzjSYTIm7LALt8ewR3XFtxesyqYpQg=
		</data>
		<key>Resources\Image\OldExtHardDrive.icns</key>
		<data>
		lx2LM6/BjCD+7JjBZwxTifveSSBuZ0a0vZozYfgPhsM=
		</data>
		<key>Resources\Image\OldHardDrive.icns</key>
		<data>
		bdk6FQmsEZNwuu23yYPgcPL2I3Ef/J5EMLFgZj8JmCk=
		</data>
		<key>Resources\Image\OldSelected.icns</key>
		<data>
		vx8ufLxFiYZRp2r38/XXdwAZCC5YA5X5CDi1nV1eDlA=
		</data>
		<key>Resources\Image\OldSelector.icns</key>
		<data>
		9rRKs/YfQiHpV0iqtD9yexvZ25YKg5d3OoDD3cepdMA=
		</data>
		<key>Resources\Image\OldShell.icns</key>
		<data>
		gEcPCfcDTmFjthsXV+0PmwUQJiThDYfLGU8EiMWm1Yo=
		</data>
		<key>Resources\Image\OldTool.icns</key>
		<data>
		ki1bEsK6JJbF7q3YNKyeoa+zh+UzJiAaQZSZOZWArYs=
		</data>
		<key>Resources\Image\OldWindows.icns</key>
		<data>
		wNcbRCTnfXw2Baf/ZnCvqoHh1c0O80ez6gQod9GAm/s=
		</data>
		<key>Resources\Image\Selected.icns</key>
		<data>
		3j7UwdA2B+fxXOpYKLe6onQ0k6QZJpjCim84A7Uho84=
		</data>
		<key>Resources\Image\Selector.icns</key>
		<data>
		IfpTJIn1e29emudlPZdU+Tc8kw8V38/qBG0D3gRuVvk=
		</data>
		<key>Resources\Image\Shell.icns</key>
		<data>
		p5qs2O/dgXshBdR3+inPDaS7dH3chT5CY0G9DVlO1Y8=
		</data>
		<key>Resources\Image\Tool.icns</key>
		<data>
		P/qbWF8tPEpxYMJaR8zmm0aYw44eX6zYSKQczHYKtuo=
		</data>
		<key>Resources\Image\Windows.icns</key>
		<data>
		vdSheJ+3sDd3ARNfArhva6RhRFwnuaQz9ZN/X7oh38o=
		</data>
		<key>Resources\Label\Apple.l2x</key>
		<data>
		aqQuuV8p4HnZyMw9D3OJ6GuyaHoi2LH5mOTMiHsP8B0=
		</data>
		<key>Resources\Label\Apple.lbl</key>
		<data>
		Beur9wk5wxkmid2OEO1n7hJr75sAEaEbilsftssHsVk=
		</data>
		<key>Resources\Label\AppleRecv.l2x</key>
		<data>
		45KSmt4VG9OpqhvlrzFyzYti6k1acdD10jKE7u1LBow=
		</data>
		<key>Resources\Label\AppleRecv.lbl</key>
		<data>
		ZNl8ExxImOlljcrtb0HRj9yZwvPOV7bBf+UVgq1quNw=
		</data>
		<key>Resources\Label\AppleTM.l2x</key>
		<data>
		vlVLy0ljWOJ6/CLBBKi3tTsni3zSNQSLAy3grJv3Fec=
		</data>
		<key>Resources\Label\AppleTM.lbl</key>
		<data>
		FHQN+5rnVtoLvnEYSWmOT/rc4a9Xm0rPh4L0FIqadtA=
		</data>
		<key>Resources\Label\EFIBoot.l2x</key>
		<data>
		tUq1rW76qR+qrXVI9RI8bnqCWflnAWtGnhDgCTg4IZ4=
		</data>
		<key>Resources\Label\EFIBoot.lbl</key>
		<data>
		Zcy1wg8NZqZmUacQhy6KkH19QbcEnGR9YgvK0sqONbA=
		</data>
		<key>Resources\Label\Other.l2x</key>
		<data>
		bToqVY/uMYK1bZIRKXjW3yY/r8UIi/vKtMxIflqRvPE=
		</data>
		<key>Resources\Label\Other.lbl</key>
		<data>
		mqInO/f5n7q8fukEDFzomQlFwJL4QxYRqlcmFoJ/f8o=
		</data>
		<key>Resources\Label\ResetNVRAM.l2x</key>
		<data>
		hYMKejHsjiMruJTRWlb1ghGYLD9nWj62/oGQ9AMABkM=
		</data>
		<key>Resources\Label\ResetNVRAM.lbl</key>
		<data>
		x/EwJcwlbQV6AmKggOwO2TP/9yAhi79HyHYvL+Q1AJg=
		</data>
		<key>Resources\Label\Shell.l2x</key>
		<data>
		iL/jdtTT78wa42h1t64Nwf3yf3o8LYWbC4pfh/Y60b8=
		</data>
		<key>Resources\Label\Shell.lbl</key>
		<data>
		7yts2fxOEcPtVYVV/Pvp+zN3/V2HISzrXh3B+pReBEU=
		</data>
		<key>Resources\Label\Tool.l2x</key>
		<data>
		L9RHriS0wbQ6Yx9aEWobWlnFj0mVn85MX+1+d08HvyQ=
		</data>
		<key>Resources\Label\Tool.lbl</key>
		<data>
		gAm1eccLkfAykSaU3SXahr3mwZTfF2WRTQmdjY5OezU=
		</data>
		<key>Resources\Label\Windows.l2x</key>
		<data>
		ss8U4b4/hAy/cUyNikpOdqY1x+5bsmqVOSIlhDCRdwg=
		</data>
		<key>Resources\Label\Windows.lbl</key>
		<data>
		qSL4ofi7m/ym98/PsrcsC6zCF+D2Et1O9Gd7w9UElkg=
		</data>
		<key>config.plist</key>
		<data>
		6XuPZBUMzkNLNPEAyO6p8mCsA9RbHPb7bJ7BD+RRico=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
